* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #fff;
}

body {
  background-color: #0f0f0f;
  scroll-behavior: smooth;
}

html {
  font-size: 60%;
}

section {
  min-height: 100vh;
}
